<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dd.mapper.EduExpMapper" >
  <resultMap id="BaseResultMap" type="com.dd.entity.EduExp" >
    <id column="EDU_EXP_ID" property="eduExpId" jdbcType="VARCHAR" />
    <id column="EMPLOYEE_ID" property="employeeId" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="SCHOOL" property="school" jdbcType="VARCHAR" />
    <result column="MAJOR" property="major" jdbcType="VARCHAR" />
    <result column="DEGREE" property="degree" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EDU_EXP_ID, EMPLOYEE_ID, START_DATE, END_DATE, SCHOOL, MAJOR, DEGREE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WEB01.EDUCATION_EXPERIENCE
    where EDU_EXP_ID = #{eduExpId,jdbcType=VARCHAR}
  </select>
  <select id="listByEmployeeId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from WEB01.EDUCATION_EXPERIENCE
    where EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WEB01.EDUCATION_EXPERIENCE
    where EDU_EXP_ID = #{eduExpId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dd.entity.EduExp" >
    insert into WEB01.EDUCATION_EXPERIENCE (EDU_EXP_ID, EMPLOYEE_ID, START_DATE, 
      END_DATE, SCHOOL, MAJOR, 
      DEGREE)
    values (#{eduExpId,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{school,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, 
      #{degree,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dd.entity.EduExp" >
    insert into WEB01.EDUCATION_EXPERIENCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eduExpId != null" >
        EDU_EXP_ID,
      </if>
      <if test="employeeId != null" >
        EMPLOYEE_ID,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="school != null" >
        SCHOOL,
      </if>
      <if test="major != null" >
        MAJOR,
      </if>
      <if test="degree != null" >
        DEGREE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eduExpId != null" >
        #{eduExpId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dd.entity.EduExp" >
    update WEB01.EDUCATION_EXPERIENCE
    <set >
      <if test="employeeId != null" >
        EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="school != null" >
        SCHOOL = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        MAJOR = #{major,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        DEGREE = #{degree,jdbcType=VARCHAR},
      </if>
    </set>
    where EDU_EXP_ID = #{eduExpId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dd.entity.EduExp" >
    update WEB01.EDUCATION_EXPERIENCE
    set EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      SCHOOL = #{school,jdbcType=VARCHAR},
      MAJOR = #{major,jdbcType=VARCHAR},
      DEGREE = #{degree,jdbcType=VARCHAR}
    where EDU_EXP_ID = #{eduExpId,jdbcType=VARCHAR}
  </update>
</mapper>