<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dd.mapper.ReportItemMapper" >
  <resultMap id="BaseResultMap" type="com.dd.entity.ReportItem" >
    <id column="REPORT_ITEM_ID" property="reportItemId" jdbcType="VARCHAR" />
    <result column="REPORT_ID" property="reportId" jdbcType="VARCHAR" />
    <result column="DICT_REPORT_ITEM_ID" property="dictReportItemId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    REPORT_ITEM_ID, REPORT_ID, DICT_REPORT_ITEM_ID, STATUS, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WEB01.REPORT_ITEM
    where REPORT_ITEM_ID = #{reportItemId,jdbcType=VARCHAR}
  </select>
  <select id="selectByReportId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from WEB01.REPORT_ITEM
    where  REPORT_ID=#{reportId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WEB01.REPORT_ITEM
    where REPORT_ITEM_ID = #{reportItemId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dd.entity.ReportItem" >
    insert into WEB01.REPORT_ITEM (REPORT_ITEM_ID, REPORT_ID, DICT_REPORT_ITEM_ID, 
      STATUS, DESCRIPTION)
    values (#{reportItemId,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR}, #{dictReportItemId,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dd.entity.ReportItem" >
    insert into WEB01.REPORT_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportItemId != null" >
        REPORT_ITEM_ID,
      </if>
      <if test="reportId != null" >
        REPORT_ID,
      </if>
      <if test="dictReportItemId != null" >
        DICT_REPORT_ITEM_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportItemId != null" >
        #{reportItemId,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="dictReportItemId != null" >
        #{dictReportItemId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dd.entity.ReportItem" >
    update WEB01.REPORT_ITEM
    <set >
      <if test="reportId != null" >
        REPORT_ID = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="dictReportItemId != null" >
        DICT_REPORT_ITEM_ID = #{dictReportItemId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where REPORT_ITEM_ID = #{reportItemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dd.entity.ReportItem" >
    update WEB01.REPORT_ITEM
    set REPORT_ID = #{reportId,jdbcType=VARCHAR},
      DICT_REPORT_ITEM_ID = #{dictReportItemId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where REPORT_ITEM_ID = #{reportItemId,jdbcType=VARCHAR}
  </update>
</mapper>