<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dd.mapper.ReportItemFileMapper" >
  <resultMap id="BaseResultMap" type="com.dd.entity.ReportItemFile" >
    <id column="ATT_ID" property="attId" jdbcType="VARCHAR" />
    <id column="REPORT_ITEM_ID" property="reportItemId" jdbcType="VARCHAR" />
    <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ATT_ID, FILE_TYPE, FILE_PATH, REPORT_ITEM_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WEB01.CHANGE_ITEM_ATTACHMENT
    where ATT_ID = #{attId,jdbcType=VARCHAR}
  </select>
  <select id="listByReportItem" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from WEB01.CHANGE_ITEM_ATTACHMENT
    where REPORT_ITEM_ID = #{reportItemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WEB01.CHANGE_ITEM_ATTACHMENT
    where ATT_ID = #{attId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dd.entity.ReportItemFile" >
    insert into WEB01.CHANGE_ITEM_ATTACHMENT (ATT_ID, FILE_TYPE, FILE_PATH,
      REPORT_ITEM_ID)
    values (#{attId,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR},
      #{reportItemId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dd.entity.ReportItemFile" >
    insert into WEB01.CHANGE_ITEM_ATTACHMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attId != null" >
        ATT_ID,
      </if>
      <if test="fileType != null" >
        FILE_TYPE,
      </if>
      <if test="filePath != null" >
        FILE_PATH,
      </if>
      <if test="reportItemId != null" >
        REPORT_ITEM_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attId != null" >
        #{attId,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="reportItemId != null" >
        #{reportItemId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dd.entity.ReportItemFile" >
    update WEB01.CHANGE_ITEM_ATTACHMENT
    <set >
      <if test="fileType != null" >
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="reportItemId != null" >
        REPORT_ITEM_ID = #{reportItemId,jdbcType=VARCHAR},
      </if>
    </set>
    where ATT_ID = #{attId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dd.entity.ReportItemFile" >
    update WEB01.CHANGE_ITEM_ATTACHMENT
    set FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      REPORT_ITEM_ID = #{reportItemId,jdbcType=VARCHAR}
    where ATT_ID = #{attId,jdbcType=VARCHAR}
  </update>
</mapper>