<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dd.mapper.UploadFileMapper">
  <resultMap id="BaseResultMap" type="com.dd.entity.UploadFile">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="ACTUAL_NAME" jdbcType="VARCHAR" property="actualName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
   delete from web01.UPLOAD_FILE  where ID in (#{id,jdbcType=VARCHAR})
  </delete>
  <insert id="insert" parameterType="com.dd.entity.UploadFile">
    insert into web01.UPLOAD_FILE (ID,FILE_NAME,GROUP_NAME,ACTUAL_NAME)
    values (#{id,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR},#{actualName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dd.entity.UploadFile">
    update web01.UPLOAD_FILE
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      ACTUAL_NAME = #{actualName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, FILE_NAME, GROUP_NAME, ACTUAL_NAME
    from web01.UPLOAD_FILE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findByCondition" parameterType="java.util.Map"  resultMap="BaseResultMap">
    select ID, FILE_NAME, GROUP_NAME, ACTUAL_NAME
    from web01.UPLOAD_FILE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
</mapper>